.env
.env.*
!.env.example
.git/
.gitignore

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

.ruff_cache/
.mypy_cache/
.pytest_cache/
.cache/
.coverage
htmlcov/

.idea/
.vscode/

tests/
code_review.md
